<% include ./partials/header %>

<h1><%= item.name %></h1>
<ul>
  <li>Name - <%= item.name %></li>
  <li>Description - <%= item.description %></li>
  <li>Date on bag - <%= item.dateOnBag %></li>
</ul>
<div>
  <form method="post" action="/items/<%=item.id%>?_method=DELETE">
    <button>Delete <%= item.name%></button>
  </form>
</div>

<% include ./partials/footer %>
